html {
    padding: 0;
    margin: 0;
    background-color: #b4b49a;
}

body {
    background-color: #6b6c40;
    height: 250vh;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

#navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5vh 5vw 5vh 5vw;

}

#navbar .container .title{
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 28px;
}

#navbar .container .nav{
    display:flex;
    justify-content: space-around;
    width: 30vw;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size:15px;
}
#navbar  a{
    text-decoration: none;
    color: white;
}

#navbar .container .icons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
}
#navbar .container .icons div{
    border-radius: 50px;
    width:3em;
    height:3em;
    background-color: #eedbcc;
    text-align: center;    
}
#navbar .container .icons div i{
    padding-top: 1em;
}

#hero .container{
    height: 200vh;
    padding: 0 5vw 0 5vw;
}
#hero .container .background{
    background-image:
 url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA3L2FpZ2VuZXJhdGVkLTI0MDcyMy1yYXdwaXhlbF9vZmZpY2VfMTBfY2xvc2VfdXBfYWVzdGhldGljX2JsYWNrX3dvbWVuX3dpdGhfb3JnYW5pY19fZTE0YWU5ZmEtY2NiMi00YzFjLTk4YTQtYzhjMDAwYWNkNWRmLWhxLXNjYWxlLTVfMDB4LmpwZw.jpg");
 background-size: cover;
    background-repeat: no-repeat;
    height: 73vh;
    border-radius:100% 37% 100% 35% / 100% 39% 100% 35% ;
    position:relative;
    left: 0%;
    bottom: 60%;
    }
    #hero .container .background .line{
       background-color: transparent;
       border: 1px solid white;
        height: 73vh;
        border-radius:100% 37% 100% 35% / 100% 39% 100% 35% ;
        position:relative;
        right: 1%;
        Top: 5%;
        }

#hero .container .content{
    z-index: 100;
    display: grid;
    grid-template-rows: 103vh 25vh 20vh;
    grid-template-columns: 5fr 2fr;
    position: relative;
}
#hero .container .content div .top{
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 85px;
    color: white;
    width: 45vw;
    margin: 5vh 0 0 0;
}
#hero .container .content div .mid{
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    color: white;
    margin: 0 0 5vh 0;
}
#hero .container .content .button {
    
        background-color: transparent;
        font-family: "Teachers", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 15px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        border: 2px solid white;
        padding: 15px 35px;
        border-radius: 30px;
        transition: .4s;

    
}
#hero .container .content .button:hover{
    background-color: white;
    color: black;
}